<div>
    <div class="footcontainer">
        <div class="footdiv">
            <h5 class="foothead">element1</h5>
        </div>
        <div>
            <h5 class="foothead">element1</h5>
            <ul>
                <li>
                    <span></span>
                    <span></span>
                </li>
            </ul>
        </div>
        <div>
            <h5 class="foothead">element1</h5>
            <ul>
                <li>
                    <span></span>
                    <span></span>
                </li>
            </ul>
        </div>
    </div>
    <div>

    </div>
</div>