<link rel="stylesheet" href="..\static\styles\templatestyling.css" />
<div class="topcontainer">
<div class="navcontainer">
    <img class="logo" src="..\static\imgs\a.png">
    <button class="donate">donate</button>
    <ul class="navbar">
        <li class="navitem">
            <a class="navlink"> no</a>
        </li>
        <li class="navitem">
            <a class="navlink"> enter text here</a>
        </li>
        <li class="navitem">
            <a class="navlink"> enter text here</a>
        </li>
        <li class="navitem">
            <a class="navlink"> enter text here</a>
        </li>
        
    </ul>

</div>
    <div class="headercontainer">
        <h1 class="headers">Event enjoyment algorithm</h1>
    </div>
</div>