{% extends "maintemplate.html" %}
{% block content %}
<link rel="stylesheet" href="..\static\styles\joelsstyles.css" />
<div class="buttoncontainer">
    <div>
        <h1 class="center title"> import additional faces </h1>
        <h3 class="center">enter additional faces if you would like</h3>
        <form method="POST" enctype="multipart/form-data" action="/ageid" class="center" id="faceupload">
            <input type="file" id="myFile" name="toys" accept=".jpg" multiple>
        </form>
        <button type="submit" value="Submit" class="submitbutton" form="faceupload">next</button>
    </div>
</div>
{% endblock %}